*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    --color: #E1E1E1;
    background-color: #F3F3F3;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.about-section{
    border-radius: 40px;

    background: url(about.jpg) no-repeat left;
    background-size: 55%;
    background-color:#e7b14d ;
    overflow: hidden;
 box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.363);
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    border-radius: 20px;
    float: right;
    background-color: #fdfdfd93;
    padding: 150px;
    backdrop-filter: blur(10px) ;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}
.btn-12,
.btn-12 *,
.btn-12 :after,
.btn-12 :before,
.btn-12:after,
.btn-12:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-12 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #01788D;
  background-image: none;
  height: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  width: 11vw;
  font-family: ui-sans-serif, system-ui,  Helvetica, Arial, sans-serif,
    Color  Symbol Color;
  font-size: 0.7.5vw;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#bee900, #a83131);
  padding: 0;
  text-transform: uppercase;
}

.btn-12:disabled {
  cursor: default;
}

.btn-12:-moz-focusring {
  outline: auto;
}

.btn-12 svg {
  display: block;
  vertical-align: middle;
}

.btn-12 [hidden] {
  display: none;
}

.btn-12 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}

.btn-12 span {
  mix-blend-mode: difference;
}

.btn-12:after,
.btn-12:before {
  background: linear-gradient(
    90deg,
    #141414 25%,
    transparent 0,
    transparent 50%,
    #000000 0,
    #000000 75%,
    transparent 0
  );
  content: "";
  inset: 0;
  position: absolute;
  transform: translateY(var(--progress, 100%));
  transition: transform 0.2s ease;
  z-index: -1;
}

.btn-12:after {
  --progress: -100%;
  background: linear-gradient(
    90deg,
    transparent 0,
    transparent 25%,
    #000000 0,
    #000000 50%,
    transparent 0,
    transparent 75%,
    #000000 0
  );
  z-index: -1;
}

.btn-12:hover:after,
.btn-12:hover:before {
  --progress: 0;
}


nav ul {
  padding: 5px 10px;

  list-style: none;
}
body::-webkit-scrollbar{
  background-color: #000000;
  border-radius: 30px;
}
::-webkit-scrollbar-button{
  background-color: #EBBC67;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb{
  background-color: #0098B1;
  border-radius: 20px;
}


nav {
  position:relative;
  margin-top: 1vh;
  margin-bottom: 3vh;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  /* border: 1px solid black !important; */
  border-radius: 20px;
  background-color:#E3A93F;
  /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.562); */
  backdrop-filter: blur(2px);

  z-index: +999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  color: #fffefe;
  height: 8vh;
}

.logo {
  font-size: 32px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 1em;
  font-size: 18px;
  border-radius: 50px;
}

.nav-links li {
  text-decoration: none;
  padding: 5px 14px;
}

.nav-links a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #0098B1;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  font-weight: bolder;
  color: rgb(0, 0, 0);
  background-color: #4c9e9e;
  border-radius: 20px;
  letter-spacing: 5px;
  padding: 5px 7px;
}

.burger {
  display: none;
  cursor: pointer;
}

.line1,
.line2,
.line3 {
  width: 30px;
  height: 3px;
  background-color: #000000;
  margin: 5px;
}
@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
        margin-top: 120%;

    }
}

@media screen and (max-width:1000px){
    /* responsive nav */
    .btn-12{
        width: 90%;
        height: 40px;
    }
  .nav-links {
    display: none;
    position: absolute;
    font-size: 30px;
    top: 70px;
    right: 0;
    width: 40%;
    height: 100vh;
    background-color:#E3A93F;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  .nav-links.open {
    display: flex;
  }

  .burger {
    display: block;
  }
  .home-container {
    display: flex;
    flex-direction: column;
  }
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
        margin-top: 120%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        margin-top: 120%;

        padding: 60px;
    }
}